@font-face {
    font-family: koz;
    src: url(../fonts/koz-l.otf);
}

body {
  min-width: 1600px;
  min-height: 900px;
  max-width: 2560px;
  max-height: 1440px;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
}

#main{
  position: absolute;
  width: 100%;
  min-height: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

.selected {
  background-color: rgba(255,255,255,0.3);
}

.tab {
  font-family: koz, Helvetica, Arial;
  width: 400px;
  height: 200px;
  display: grid;
}

.tab:hover {
  background-color: rgba(255,255,255,0.3);
}

.tab-logo {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: auto;
}

.tab-text{
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100px;
  margin: auto;
  font-size: 28pt;
}

.tab-en{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.tab-jp{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.name-en{
  text-align: left;
  border-right: 1px dashed #FFF;
  color: #FFF;
}

.name-jp{
  text-align: right;
  color: #FFF;
}

.work {
  display: block;
  background-color: #FFF;
  min-width: 600px;
  min-height: 600px;
  margin: 1px;
}

.work img{
  min-width: 300px;
  min-height: 300px;
}
